apiVersion: apps/v1
kind: Deployment
metadata:
  name: tasks-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: tasks-service
  template:
    metadata:
      labels:
        app: tasks-service
    spec:
      containers:
        - name: tasks-service
          image: {{ .Values.tasks.image }}
          imagePullPolicy: Always
          ports:
            - containerPort: {{ .Values.tasks.port }}
